.btn {
    display: inline-block;

    &:link, &:visited {
        padding: 1rem 3rem;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-size: $default-font-size;
        text-transform: uppercase;
        font-weight: 700;
        transition: all .25s ease;
    }

    &:hover {
        text-decoration: none;
        border: 2px solid white;
    }
}