// COLORS
$color-primary-dark-violet: hsl(256, 26%, 20%);
$color-primary-grayish-blue: hsl(216, 30%, 68%);

$color-neutral-very-dark-violet: hsl(270, 9%, 17%);
$color-neutral-dark-grayish-violet: hsl(273, 4%, 51%);
$color-neutral-very-light-gray: hsl(0, 0%, 98%);

// FONT SIZES
$default-font-size: 1.6rem;
$default-font-color: hsl(273, 4%, 51%);

// HERO
$hero-top-offset: 10rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;